/* Cursive font for headings. */
.heading {
     font-family: 'Brush Script MT', cursive;
}

/* Specs of laptop. */
.specs {
     font-family: Copperplate, Papyrus, fantasy;
     border: 5px white;
     padding: 10px;
     color: red;
}


